<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEEE Label</title>
</head>
<body>
<nav>
  <h1><a href="{{ url_for('label') }}">WEEE Label</a></h1>
    {% if session.user_id == 1 %}
    <ul>
      <li><a href="{{ url_for('manage_users') }}">Manage Users</a>
      <li><a href="{{ url_for('see_stats') }}">Stats</a>
    </ul>
    {% endif %}
</nav>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}
</body>
</html>