{% extends 'base.html' %}

{% block content %}
    <h4>Is this comment:</h4>
    <p>{{ comment }}</p>
    <form method="post">
        <input type="submit" name="toxic" value="Toxic">
        <input type="submit" name="nontoxic" value="Non-toxic">
        <span> - </span>
        <input type="submit" name="unknown" value="I can't say">
    </form>
    <hr />
    <form method="post">
        <input type="submit" name="goback" value="Go back one">
    </form>

    {% include 'logout.html' %}
{% endblock %}