{% extends 'base.html' %}

{% block content %}
    {% if not done %}
        <progress value={{ labeled }} max={{ total }} style="width: 100%"></progress>
        <h4>Is this comment:</h4>
        <p>{{ text }}</p>
        <form method="post">
            <input type="submit" name="toxic" value="Toxic">
            <input type="submit" name="nontoxic" value="Non-toxic">
            <span> - </span>
            <input type="submit" name="unknown" value="I can't say">
        </form>
        <hr />
        <form method="post">
            <input type="submit" name="goback" value="Go back one">
        </form>
    {% else %}
        <h4>Nice job! You've done your part! 🎉</h4>
        <img src="{{url_for('static', filename='im_doing_my_part.gif')}}" style="width:420px;" alt="lollone">
    {% endif %}

    {% include 'logout.html' %}
{% endblock %}